

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [2]:
euro12 = pd.read_csv("..\Assignment-2\Euro_2012_stats_TEAM.csv")

### Step 4. Select only the Goal column.

In [4]:
print(euro12[['Goals']])

    Goals
0       4
1       4
2       4
3       5
4       3
5      10
6       5
7       6
8       2
9       2
10      6
11      1
12      5
13     12
14      5
15      2

### Step 5. How many team participated in the Euro2012?

In [5]:
len(euro12)

16

### Step 6. What is the number of columns in the dataset?

In [6]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [7]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [8]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [9]:
euro12['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [10]:
TeamG = euro12[['Team', 'Goals']]
TeamG[TeamG["Goals"].between(6,16)]

        Team  Goals
5    Germany     10
7      Italy      6
10  Portugal      6
13     Spain     12

### Step 11. Select the teams that start with G

In [11]:
TeamN = euro12[['Team']]
TeamN[TeamN['Team'].str[0] == 'G']

      Team
5  Germany
6   Greece

### Step 12. Select the first 7 columns

In [12]:
FirstC7 = euro12[euro12.columns[range(7)]]
print(FirstC7)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0             51.90%           16.00%                          32
1             41.90%           12.90%                          39
2             50.00%           20.00%                          27
3             50.00%           17.20%                          40
4             37.90%            6.50%                          65
5             47.80%           15.60%                          80
6             30.70%           19.20%                          32
7             43.00%            7.50%                         110
8             25.00%            4.10%                          60
9             39.40%            5.20%                          48
10            34.30%            9.30%                          82
11            36.80%            5.20%                          28
12            22.50%           12.50%                          59
13            55.90%           16.00%                         100
14            47.20%           13.80%                          39
15            21.20%            6.00%                          38

### Step 13. Select all columns except the last 3.

In [13]:
Last3NC = euro12.iloc[:,:-3]
print(Last3NC)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0             51.90%           16.00%                          32
1             41.90%           12.90%                          39
2             50.00%           20.00%                          27
3             50.00%           17.20%                          40
4             37.90%            6.50%                          65
5             47.80%           15.60%                          80
6             30.70%           19.20%                          32
7             43.00%            7.50%                         110
8             25.00%            4.10%                          60
9             39.40%            5.20%                          48
10            34.30%            9.30%                          82
11            36.80%            5.20%                          28
12            22.50%           12.50%                          59
13            55.90%           16.00%                         100
14            47.20%           13.80%                          39
15            21.20%            6.00%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                81.30%         41
1       10               6          9                60.10%         53
2       10               5         10                66.70%         25
3       29               3         22                88.10%         43
4        7               5          6                54.60%         36
5       11               6         10                62.60%         63
6       23               7         13                65.10%         67
7       18               7         20                74.10%        101
8        9               5         12                70.60%         35
9        8               3          6                66.70%         48
10      11               4         10                71.50%         73
11      23               9         17                65.40%         43
12       8               3         10                77.00%         34
13       8               1         15                93.80%        102
14      12               5          8                61.60%         35
15       4               4         13                76.50%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [14]:
AccS = euro12[['Team', 'Shooting Accuracy']]
AccS[AccS['Team'].str.contains('England') | AccS['Team'].str.contains('Italy') | AccS['Team'].str.contains('Russia')]

       Team Shooting Accuracy
3   England            50.00%
7     Italy            43.00%
12   Russia            22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**

In [16]:
Perf = euro12[['Team', 'Goals']]

def func(row):
    if row['Goals'] <=2:
        return 'Below Avg'
    elif row['Goals'] <=5:
        return 'Average'
    elif row['Goals'] <=10:
        return 'Above Average'
    else:
        return 'Excellent'

Perf['performance'] = Perf.apply(func, axis=1)

print(Perf)

                   Team  Goals    performance
0               Croatia      4        Average
1        Czech Republic      4        Average
2               Denmark      4        Average
3               England      5        Average
4                France      3        Average
5               Germany     10  Above Average
6                Greece      5        Average
7                 Italy      6  Above Average
8           Netherlands      2      Below Avg
9                Poland      2      Below Avg
10             Portugal      6  Above Average
11  Republic of Ireland      1      Below Avg
12               Russia      5        Average
13                Spain     12      Excellent
14               Sweden      5        Average
15              Ukraine      2      Below Avg

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]